.wrapper{
    padding: 20px;
  

}
.info{
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.movieCard{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.poster{
    width: 300px;
    height: 450px;
    margin-right: 20px;
}
.goBack {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: lightgray;
}
.goBack:hover{
    background-color: darkgray;
    border: 1px solid blue;
    color: white;
}