.header{
    height: 100px;
    background-color: gray;
    padding: 10px 30px;
    display: flex;
    align-items: center;

        font-size: 25px;
        font-weight: bold;
        color: White;
}
.headerName{
    margin: 0;
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    color: White;
}
.navlinks{
display: flex;
gap: 15px;
list-style-type: none;
margin-right: auto;
padding: 0;
}
.links{
    color:white;
    padding: 0;
    transition: 0.5s ease;
    cursor: pointer;
    &:hover{
        color: aqua;
    }
}